<!-- Ajustar para trazer as informações corretas -->

{% extends "index.html" %}
{% load bootstrap5 %}
{% block main-content %}


<section>
    <div class="container">
      <div class="row">

        <div class="col-md-9" data-aos="fade-up">
          <h3 class="category-title" style="font-size: 30px;">Sobre Katherine News</h3>

            <div class="post-meta">
              <span class="date">SQUAD KATHERINE JOHNSON</span> <span class="mx-1">&bullet;</span> <span>12 de Abril de 2024</span></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio placeat exercitationem magni voluptates dolore. Tenetur fugiat voluptates quas, nobis error deserunt aliquam temporibus sapiente, laudantium dolorum itaque libero eos deleniti?</p>

        </div>

        {% include "side-menu.html" %}

      </div>
    </div>
  </section>

{% endblock %}