<!-- Tudo ok, não precisa alterar -->
<!-- Rodapé -->

<footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">

        <div class="row g-5">
          <div class="col-lg-4">
            <h3 class="footer-heading">About Katherine News</h3>
            <p>Portal de Notícias criado durante Projeto Final do Bootcamp WoMakersCode BackEnd Python + Django</p>
            <p><a href="/about" class="footer-link-more">Leia mais...</a></p>
          </div>

          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Navegação</h3>
            <ul class="footer-links list-unstyled">
              <li ><a class="bi bi-chevron-right" href="/"> Home</a></li>
              <li><a class="bi bi-chevron-right" href="/authors"> Autores</a></li>
              <li><a class="bi bi-chevron-right" href="/categories"> Categorias</a></li>
              <li><a class="bi bi-chevron-right" href="/about"> Sobre</a></li>
            </ul>
          </div>

          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Categorias</h3>
            <ul class="footer-links list-unstyled">
              <li><a class="bi bi-chevron-right" href="/category/7"> Ciência e Tecnologia</a></li>
              <li><a class="bi bi-chevron-right" href="/category/8"> Cultura e Entretenimento</a></li>
              <li><a class="bi bi-chevron-right" href="/category/9"> Esportes</a></li>
              <li><a class="bi bi-chevron-right" href="/category/10"> Negócios</a></li>
              <li><a class="bi bi-chevron-right" href="/category/11"> Política</a></li>
              <li><a class="bi bi-chevron-right" href="/category/12"> Saúde e Beleza</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">

        <div class="row justify-content-between">
          
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Squad Katherine Johnson
            </div>
            <div class="credits">
              Bootcamp WoMakersCode BackEnd Python + Django
            </div>

          </div>

          <div class="col-md-6">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>

      </div>
    </div>

  </footer>