<!-- Tudo ok, não precisa alterar -->
<!-- Cabeçalho -->


<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="../../static/img/logo.png" alt=""> -->
        <h1>Katherine News</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/authors">Autores</a></li>
          <li class="dropdown"><a href="/categories"><span>Categorias</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/category/7">Ciência e Tecnologia</a></li>
              <li><a href="/category/8">Cultura e Entretenimento</a></li>
              <li><a href="/category/9">Esportes</a></li>
              <li><a href="/category/10">Negócios</a></li>
              <li><a href="/category/11">Política</a></li>
              <li><a href="/category/12">Saúde e Beleza</a></li>
              
            </ul>
          </li>
          <li><a href="/about">Sobre</a></li>
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">

        <a href="#" class="mx-5 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
              <input type="text" placeholder="Buscar" class="form-control">
              <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

        <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
        <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

        <a href="/users/signin" class="mx-5"><span class="bi-person"></span></a>


      </div>

    </div>

  </header>