<!-- Tudo ok, não precisa alterar -->
<!-- Esqueleto principal do portal -->

<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    {% load bootstrap5 %}
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Katherine News</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon" />
    <link
      href="{% static 'img/apple-touch-icon.png' %}"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/aos/aos.css' %}" />

    <!-- Template Main CSS Files -->
    <link href="{% static 'css/variables.css' %}" rel="stylesheet" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
  </head>

  <body>
    {% include "header.html" %}

    <main id="main">
      {% block main-content %}
        <!-- ======= Post Grid Section ======= -->
      <section id="posts" class="posts">
        <div class="container" data-aos="fade-up">

          <div class="row mx-auto">

            <div class="col-lg-4">
              <div class="post-entry-1 lg">
                <a href="/news/{{emphasis_news.id}}"><img src="/media/{{emphasis_news.image}}" alt="" class="img-fluid"></a>
                <div class="post-meta"><span class="date">{{emphasis_news.category}}</span> <span class="mx-1">&bullet;</span> <span>{{emphasis_news.publish_date}}</span></div>
                <h2><a href="/news/{{emphasis_news.id}}">{{emphasis_news.title}}</a></h2>
                <p class="mb-4 d-block">{{emphasis_news.subtitle}}</p>

                <div class="d-flex align-items-center author">
                  <div class="name">
                    <h3 class="m-0 p-0">Autor: {{emphasis_news.author}}</h3>
                  </div>
                </div>

              </div>

            </div>

            <div class="col-lg-8">
              <div class="row g-5">
                
                
                <div class="col-lg-4 border-start custom-border">
                  {% for news in column1_news %}
                  <div class="post-entry-1">
                    <a href="/news/{{news.id}}"><img src="/media/{{news.image}}" alt="" class="img-fluid"></a>
                    <div class="post-meta"><span class="date">{{news.category}}</span> <span class="mx-1">&bullet;</span> <span>{{news.publish_date}}</span></div>
                    <h2><a href="/news/{{news.id}}">{{news.title}}</a></h2>
                  </div>
                  {% endfor %}
                </div>
                
                
                <div class="col-lg-4 border-start custom-border">
                  {% for news in column2_news %}
                  <div class="post-entry-1">
                    <a href="/news/{{news.id}}"><img src="/media/{{news.image}}" alt="" class="img-fluid"></a>
                    <div class="post-meta"><span class="date">{{news.category}}</span> <span class="mx-1">&bullet;</span> <span>{{news.publish_date}}</span></div>
                    <h2><a href="/news/{{news.id}}">{{news.title}}</a></h2>
                  </div>
                  {% endfor %}
                </div>


              </div>
            </div>

          </div>
        </div>
      </section> 
      {% endblock %}
    </main>

    {% include "footer.html" %}

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center">
      <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
