<!-- Tudo ok, não precisa alterar -->
<!-- Barra lateral para ser incluída nas páginas secundárias (categorias, categoria, autores, autor, pagina da noticia -->
<div class="col-md-3">

  <div class="aside-block">
    <h3 class="aside-title">Categorias</h3>
    <ul class="aside-links list-unstyled">
        <li><a class="bi bi-chevron-right" href="/category/7"> Ciência e Tecnologia</a></li>
        <li><a class="bi bi-chevron-right" href="/category/8"> Cultura e Entretenimento</a></li>
        <li><a class="bi bi-chevron-right" href="/category/9"> Esportes</a></li>
        <li><a class="bi bi-chevron-right" href="/category/10"> Negócios</a></li>
        <li><a class="bi bi-chevron-right" href="/category/11"> Política</a></li>
        <li><a class="bi bi-chevron-right" href="/category/12"> Saúde e Beleza</a></li>
    </ul>
  </div>

  <div class="aside-block">
    <h3 class="aside-title">Tags</h3>
    <ul class="aside-tags list-unstyled">
      <li><a href="/category/7">Ciência e Tecnologia</a></li>
      <li><a href="/category/8">Cultura e Entretenimento</a></li>
      <li><a href="/category/9">Esportes</a></li>
      <li><a href="/category/10">Negócios</a></li>
      <li><a href="/category/11">Política</a></li>
      <li><a href="/category/12">Saúde e Beleza</a></li>
    </ul>
  </div>

</div>