<!-- Ajustar para trazer as informações corretas -->
{% extends "users.html" %}
{% load bootstrap5 %}
{% block content-user %}
{% load static %}

<div class="col-md-9 row my-5 py-5">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="col-lg-12 text-center">
            <h3 class="category-title" style="font-size: 30px;">Login de Leitor
                <a href="/users/reader/signup" class="mr-5">
                    <span class="bi-plus-circle-dotted ml-5" style="margin:10px;" label="Adicionar Leitor"></span>
                </a>
            </h3>
        </div>
        <div class="form mt-3">
            <form  action="{% url 'reader_login' %}" method="post" id="login-form">
                {% csrf_token %}

                <div class="row">
                    <div class="form-group col-md-6">
                        <input type="text" name="username" class="form-control" id="username" placeholder="Username" required />
                    </div>
                    <div class="form-group col-md-6">
                        <input type="password" class="form-control"  name="password" id="password" placeholder="Senha" required />
                    </div>
                </div>

                <div class="text-center mt-2">
                    <button type="submit" class="px-3" >Entrar</button>
                    
                </div>
            </form>
        </div>

    </div>
    <div class="col-lg-3"></div>

</div>



{% endblock %}
