{% extends "users.html" %}
{% load bootstrap5 %}
{% block form-user %}
<!-- {% load static %} -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 " data-aos="fade-up">
                <h3 class="category-title">Adicionar Editor</h3>
                
                {% if sucess %}
                <p class="alert alert-success"> Cadastro realizado com sucesso </p>
                {% else %}
                <form action="" method="POST" enctype="multipart/form-data" id="form" class="mr-5" style="border-radius:0%;" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                </form>
                {% endif %}
            </div>

            <div class="col-md-3 " >

            </div>

            {% include "side-menu.html" %}
        </div>
    </div>

</section>

  

{% endblock %}